<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/forms" method="POST">
  Food:<br>
  <input type="text" name="foodName">
  <br>
 <form action="/forms" method="POST">
 	Name:<br>
 	<input type="text" name="client">
 	<br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
